.location-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 18px;
    row-gap: 40px;
    margin-left: 30px;
    z-index: 100;
    padding-top: 197px;
}

.location-box{
    position: relative;
}

.location-image{
    height: 284px;
    width: 299px;
    object-fit: cover;
    border-radius: 10px;
}

.heart{
    position: absolute;
    height: 19px;
    top: 20px;
    right: 40px;
    object-fit: cover;
}

.location-info{
    line-height: 7px;
    font-size: 14px;
}

.location-info .location-add{
    font-weight: bold;
}

.location-info .location-date{
    margin-bottom: 20px;
}